body{
    color: white;
    background: black;
    margin: 0px;
  font-family: "Chakra Petch", sans-serif;
}


header {
    border-bottom: solid 2px rgb(251, 0, 255, 0.721);
    padding: 20px;
    font-size: 32px;
    color: rgba(152, 9, 155, 0.693)
}

section {
background: rgb(143, 77, 190)
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
margin-right: 5%;
}
